body{display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(2, 5, 40);

}
h1{
    font-size: 20px;
}


main{
    width: 100%;
    max-width: 600px;
    background-color: rgb(252, 126, 8);
    padding: 10px;
    
}
.content {
    display: flex;
    gap: 9px;
    
}

 input{
    flex-grow: 1;
    margin-bottom: 5px;
    padding: 5px;
    /* font-size: 8px; */
    border-radius: 8px;
    background-color: rgb(193, 201, 208);
   border: none;

 }
 button{
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-bottom: 5px;
    background-color: rgb(232, 216, 216);
    
 }
 
 #elemento{
    min-width: 400px;
    background-color: rgb(152, 151, 151);
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 30px;
    min-height: 200px;
    gap: 10px;
   
 }
 