body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    background-color: rgb(80, 53, 67);
    

    
}

a{
    text-decoration: none;
    background-color: rgb(111, 99, 153);
    color: white;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    

    
}
a:focus{
    background-color: rgb(85, 255, 0);
}